<% include partials/header %>
    <h1>Home</h1>
    <% submissions.forEach(function(submission){ %>
    <div>
        <h1><%= submission.title %></h1>
        <p><%= submission.post %></p>
    </div>
    <% }) %>
<% include partials/footer %>